.header{
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 10;
}

.header a{
    display: flex;
    align-items: center;
}

img{
    width: 100px;
}

.title{
    margin-left: 25px;
}

.title i{
    margin-right: 8px;
    color: var(--dark-red);
}

.title a{
    color: var(--light-red);
}