<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
      <mat-nav-list class="nav-list">
        <a href="" mat-list-item routerLink="/">
          <i class="material-icons">dashboard</i>
          Dashboard
        </a>
        <a href="" mat-list-item routerLink="/registro">
          <i class="material-icons">info</i>
          Informações
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>  